.buttonRegular {
  border: 1px solid var(--gray-10);
  border-radius: 2px;

  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 14px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.buttonRegular:active {
  background-color: var(--gray-6);
}
.buttonRegular:focus {
  background-color: var(--blue-3);
  border-color: var(--blue-8);
}
.buttonRegular:disabled {
  border-color: var(--gray-8);
}

.buttonSmall {
  border: 1px solid var(--gray-10);
  border-radius: 2px;

  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 14px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.buttonSmall:active {
  background-color: var(--gray-6);
}
.buttonSmall:focus {
  background-color: var(--blue-3);
  border-color: var(--blue-8);
}
.buttonSmall:disabled {
  border-color: var(--gray-8);
}

.navigationLink {
  color: var(--blue-10);
  border-bottom: 1px solid var(--blue-10);
}
