.inputSmall {
  border: 1px solid var(--gray-10);
  border-radius: 4px;

  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 14px;
  height: 24px;
  padding-left: 4px;
  padding-right: 5px;
}

.inputRegular {
  border: 1px solid var(--gray-10);
  border-radius: 4px;

  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}
