.list {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;

  width: 100%;
  border: 1px solid #ccc;
}

.detail {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;

  width: 100%;
  /* max-width: 1200px; */
  margin: 16px auto;

  border: 1px solid #ccc;
}

/* ------------------
// Table styles
// ------------------ */
.tableWrapper {
  height: 100%;
  overflow-y: auto;
}

.tableWrapper table {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 100%;
}

.tableWrapper table tr {
  height: 48px;
  border-bottom: 1px solid #ccc;
}
.tableWrapper table tr > * {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 16px;
  white-space: nowrap;
}
.tableWrapper table tr > :first-child { padding-left: 16px; }
.tableWrapper table tr > :last-child { padding-right: 16px; }

.tableWrapper table tr td.floatingCheckbox {
  position: sticky;
  left: 0px;
  height: 47px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 17px;
  cursor: pointer;
}
.tableWrapper table tr td.floatingDetails {
  position: absolute;
  right: 0px;
  height: 47px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
  padding-left: 16px;
}

.tableWrapper table thead {
  position: relative;
  z-index: 9999;
}

.tableWrapper table thead th {
  background-color: #eee;
  text-align: left;
  user-select: none;
}

.tableWrapper table tr th.floatingCheckbox {
  position: sticky;
  left: 0px;
  height: 47px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
  padding-left: 17px;
  cursor: pointer;
}


.tableWrapper table thead th.sortable {
  cursor: pointer;
}

.tableWrapper table thead th .tableWrapperSortIndicator {
  margin-left: 8px;
}

.tableNextPageIndicator {
  width: 100%;
  height: 48px;
  border-top: 1px solid #ccc;
}
.tableNextPageButton {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;
  font-style: italic;

  width: 100%;
  height: 48px;
  padding-left: 16px;

  background-color: #fafafa;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;
}
.tableNextPageButton:focus {
  border-color: blue;
}

.tableNextPageLoading {
  height: 100%;
  padding-left: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  user-select: none;
  font-style: italic;
  color: #aaa;
}

.listTableEmptyState {
  width: 100%;
  height: 100%;
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
}
.listTableErrorState {
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-height: 200px;
  margin: 0px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
  color: var(--red8);
}

.floatingColumnSetSelectorWrapper {
  position: sticky;
  right: 0px;
  height: 47px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
  padding-left: 16px;
}
.tableWrapper .floatingColumnSetSelectorWrapper:last-child {
  overflow: visible;
}

.listColumnSetPopup {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;

  width: 320px;
}
.listColumnSetPopupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  user-select: none;
  padding-left: 8px;
  padding-right: 8px;
}
.listColumnSetBody {
  padding: 8px;
}


/* ------------------
// Action bar styles
// ------------------ */
.listActionBar {
  display: flex;
  gap: 8px;
  background-color: #eee;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #ccc;
}

.listActionBarSelectAllBanner {
  height: 36px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/* ------------------
// Filter bar styles
// ------------------ */
.listFilterBar {
  background-color: #eee;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #ccc;
}
.listFilterBarTitle {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 18px;
  font-weight: bold;
}

.filterPopup {
  font-family: 'Roboto Mono', 'menlo', 'monospace';
  font-size: 16px;

  min-width: 320px;
}
.filterPopupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  user-select: none;
  padding-left: 8px;
  padding-right: 8px;
}
.filterPopupBody {
  display: flex;
  flex-direction: column;
  min-width: 320ps;
  padding: 8px;
}

/* ------------------
// Detail fields styles
// ------------------ */
.detailFields {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detailFieldsEmptyState {
  width: 100%;
  height: 100%;
  min-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
}
.detailHeader {
  background-color: #eee;
  min-height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #ccc;
}
.detailActions {
  background-color: #eee;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #ccc;
}

/* ------------------
// Foreign key fields
// ------------------ */
.foreignKeyFieldModifyMarkupWrapper {
  width: 100%;
  border: 1px solid var(--gray-10);
}

.foreignKeyFieldModifyMarkupActionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--gray-4);
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
